<div class="panel grid-col grid-12 home">

  <p class="intro">Congratulations, your <%= product_name %> is up and running!  Choose an option below to configure it.</p>

  <div class="grid-col grid-12 home-buttons">
    <div class="grid-col grid-2">&nbsp;</div>
    <div class="grid-col grid-3">
      <a class="btn btn-with-text" href="/access_points">
        <i>☁</i>
        Network
      </a>
    </div>

    <div class="grid-col grid-2">&nbsp;</div>

    <div class="grid-col grid-3">
      <a class="btn btn-with-text" href="/url">
        <i>☀</i>
        Display
      </a>
    </div>
  </div>
</div>

